
body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
}
.background-img {
    width: 100%;
    height: 150%;
    object-fit: cover;
    display: block;
    opacity: 0.1;
    position: absolute;
    z-index: 1;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #E8D3AE;
    font-size: 2rem;
    cursor: pointer;
    z-index: 3;
    transition: transform ease-in-out 0.3s;
}

.back-arrow:hover {
    color: white;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

@media only screen and (min-width: 800px) {
    .main-container {
        gap: 50px;
    }
}

.logo-img {
    width: 250px;
    margin-top: 50px;
}

.burger-title {
    color: #E8D3AE;
    text-align: center;
}

.burger-text {
    color: #D9BA7D;
    width: 80%;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.boton-carta {
    background-color: #27210C;
    color: #E8D3AE;
    padding: 10px 20px;
    width: 35%;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
}

.boton-carta:hover {
    background-color: #E8D3AE;
    color: #27210C;
}

/* CAROUSEL */
.wrapper-carousel {
    max-width: 1200px;
    position: relative;
  }
  
  .wrapper-carousel i {
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    background: white;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .wrapper-carousel i:first-child{
    left: -23px;
  }
  
  .wrapper-carousel i:last-child{
    right: -23px;
  }
  
  .wrapper-carousel .carousel {
    white-space: nowrap;
    overflow: hidden;
    font-size: 0px;
    cursor: pointer;
    scroll-behavior: smooth;
  }
  
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  
  .carousel.dragging img {
    pointer-events: none;
  }
  
  .carousel img {
    margin-left: 14px;
    height: 200px;
    object-fit: cover;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }


/* POP UP */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    visibility: show;
    transition: opacity 0.3s;
}

.popup-img {
    height: 80%;
    object-fit: cover;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 3;
    transition: transform ease-in-out 0.3s;
}

h4 {
  color: #D9BA7D;
  font-size: 1.5rem;
}

p {
  color: #E8D3AE;
  font-size: 1.3rem;
}

p span {
  text-decoration: underline;
}

/* MEDIA QUERIES */

  @media only screen and (max-width: 800px) {
    .burger-text {
      font-size: 0.9rem;
    }
    
    .carousel img {
        width: 100%;
    }

    .wrapper-carousel {
        max-width: 90%;
    }

    .wrapper-carousel i {
        background: transparent;
        color: white;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
    }
}