
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
}


* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27210C;
    height: 11vh;
}

.top-img {
    height: 100%;
}

.general-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #000000;
    overflow: hidden;
}

.half-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: relative;
}

.half-container img {
    transition: transform ease-in-out 0.3s;
}

.half-container:hover img {
    transform: scale(1.1);
}

.half-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
}
.specific-logo {
    width: 50%;
    object-fit: contain;
    display: block;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.hover-item {
    transition: transform ease-in-out 0.3s;
}

.hover-item:hover {
    transform: scale(1.1);
}

.quienes-somos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    position: relative;
    overflow: hidden;
}

.quienes-somos-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.3;
    position: absolute;
    z-index: 0;
}

.quienes-somos-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 150px;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 150px;
    overflow-x: scroll;
}

.quienes-somos-title {
    color: #E8D3AE;
    font-size: 3rem;
    text-align: center;
}

.quienes-somos-text {
    color: #D9BA7D;
    width: 80%;
    text-align: justify;
    font-size: 1.5rem;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.quienes-somos-text p {
    flex: 1 1 100%;
}

.fade {
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, black, transparent);
    z-index: 2;
}

.fade-reverse {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    background: linear-gradient(to top, black, transparent);
    z-index: 2;
}

.flecha-abajo {
    position: absolute;
    z-index: 3;
    scale: 3;
    bottom: 20px;
    right: 10%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #E8D3AE;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -15px);
    }
}

.bottom-div {
    background-color: #27210C;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.bottom-div img {
    width: 250px;
    height: 250px;
}

.bottom-div p {
    color: #E8D3AE;
    font-size: 0.8rem;
    text-decoration: none;
}

.contacto {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {

    .general-info-container {
        flex-direction: column;
    }

    .fade-reverse {
        display: none;
    }

    .flecha-abajo {
        margin-left: 10px
    }

    .half-container {
        width: 100%;
        height: 50%;
    }

    .quienes-somos-wrapper {
        margin-top: 50px;
        gap: 50px;
    }

    .quienes-somos-title {
        font-size: 2rem;
    }

    .quienes-somos-text {
        width: 95%;
        font-size: 0.9rem;
    }

    .bottom-div {
        flex-direction: column;
    }
}


